* {
  font-size: 1.6rem;
}

body {
  background-color: white;
}

nav {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 5%;
  border: rgba(0, 0, 0, 0.24) 0.1rem solid;
}

nav div {
  background-color: #000011;
  width: 100%;
  height: 8%;
}

nav div span {
  display: block;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.mainContent .navlink_main,
.mainContent {
  color: black;
  font-family: "Book Antiqua";
  position: relative;
  width: 50%;
  margin: 20% auto 0;
  font-size: 4rem;
  text-align: center;
}

.mainContent h2 {
  margin-top: 2rem;
}

.mainContent h1 .navlink_main::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 201, 201, 0.54);
  width: 100%;
  height: 40%;
  top: 60%;
  z-index: -1;
}

.mainContent h2 .navlink_main::before {
  position: absolute;
  content: "";
  background-color: rgba(194, 201, 0, 0.54);
  width: 100%;
  height: 40%;
  top: 60%;
  z-index: -1;
}
