body {
    overflow: hidden;
}

.preroll {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: preroll;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;

}

@keyframes preroll {
    0% {
        width: 2rem;
        height: 2rem;
    }

    100% {
        width: 110vw;
        height: 110vw;
    }
}

/*.preroll span{*/
/*    background-image: linear-gradient(to top, rgba(218, 212, 236, 0.54) 0%, rgba(218, 212, 236, 0.51) 1%, rgba(243, 231, 233, 0.49) 100%);*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    border-radius: 50%;*/
/*    width: 4rem;*/
/*    height: 4rem;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    animation-name: preroll;*/
/*    animation-duration: 0.7s;*/
/*    animation-fill-mode: forwards;*/
/*    animation-timing-function: ease-in-out;*/
/*    animation-direction: reverse;*/
/*}*/
/*@keyframes prerollInside {*/
/*    0% {*/
/*        width: 2rem;*/
/*        height: 2rem;*/
/*    }*/
/*    100% {*/
/*        width: 120%;*/
/*        height: 120%;*/
/*    }*/
/*}*/