@import "./sass/reset"
@import "sass/variables-breakPoints"

.mainWrapper
  width: 100%
  height: max-content
  @include media-break(1920px, min)
    width: 1920px
    margin: 0 auto
.App
  backdrop-filter: blur(60px)
  width: 100%
  overflow: hidden
  height: max-content
  font-size: 1.6rem
  border: #000011 0.1rem solid
  ///////////

  display: grid
  grid-template-rows: calc(5rem + 0.7vw) min-content calc(10rem + 3vw)
  grid-template-columns: 1fr
  header
    width: 100%
    @include media-break(1920px,max)
      width: 100vw
    background-color: #fdfdfd

  main
    width: 100%

  footer
    width: 100%

  @include media-break(1920px, min)
    width: 1920px
    margin: 0 auto

